*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
    /* background-color: aquamarine; */
    /* background-color: #FFFFFF; */
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    margin: 16px 120px; 
     /* background-color: blue;  */
}
.logo-navbar{
    width: 140px;
    height: 60px;
}
.menu{
    display: flex;
    gap: 40px;
    /* background-color: blue; */
  
}
.menu a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    /* background-color: blue; */
    line-height: 152%;
    text-align: left;

}
.btno a{
    text-decoration: none;
    color: #FFFFFF;
    width: 132px;
    height: 20px;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 16px;
    /* border: 2px solid rgb(245, 242, 242); */
    border-radius: 8px;
     background-color:
#30B868; 
} 
.btno a:hover{
    background-color: #0c361e;
    transition: 0.3s;
}
.menu a:hover{
    /* color: #095027; */
    transition: 0.3s;
    background-color: #96b608;
}
.logo-navbar:hover{
    transform: scale(1.1);
    transition: 0.3s;
    background-color: #e0acc6;
    border-radius: 5px;
}


/* banner start */
.banner-container{
    width: 100%;
    height: 674px;
    background-image: url('./assets/hero-bg.png');
      background-repeat: no-repeat;
display: flex;
justify-content: center;
align-items: center;
  background-size: cover;
  padding: 70px 120px 134px 120px;
}
.text-container{
    width: 1360px;
    height: 379px;
 background: none;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.first-p{
    /* Early Access Now Open */
width: 300px;
height: 40px;
color: var(--#30B868, rgba(70, 145, 101, 1));

font-family: Inter;
font-style: Medium;
font-size: 25px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0%;
text-align: center;
color: #469165;
margin-bottom: 16px;
/* border: 2px solid salmon; */
background-color: white;
padding: 10px 10px 10px 10px ;
border-radius: 5px;

}
.head{
     width: 770px;
    height: 160px; 
    font-size: 50px;
 text-align: center; 
  margin-bottom: 20px; 
 /* border: 2px solid red; */

}
.head-one{
    font-weight: 700;
    color: #FFFFFF;
}
.head-two{
    font-weight: 700;
    color: #30B868;
    margin-top: 10px;
}
/* corle lagba */
.para-one{
    width: 1360px;
    height: 60px;
    font-size: 21px;
    color: #FFFFFF;
    margin-bottom: 12px;
    text-align: center;
    /* border: 2px solid #30B868; */
    margin-bottom: 32px;
    margin-top: 20px;
}

.btnt{
    display: flex;
    gap: 30px;
    width: 700px;
    height: 60px;
    /* color: #FFFFFF; */
    font-size: larger;
    background: none;
    justify-content: center;
    align-items: center; 
  
}
.btnt a{
    text-decoration: none;
    color: #FFFFFF;
}

.btntt{
    background-color: #30B868;
    width: 300px;
    height: 60px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 16px 46px 16px 16px;
    border-radius: 5px;
}

.btnttt{
    border: 1px solid white;
    border-radius: 5px;
     width: 250px;
    height: 60px;
     justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 16px 16px 16px 16px;
}
.btnttt:hover{
    background-color: #a50f5a;
    transition: 0.3s;
}
.btntt:hover{
    background-color: #96b608;
    transition: 0.3s;
}

   /* Banner Section Ends Here */ 
    /* Notes Section start here */

.note-container{
    width: 1360px;
    height: 156px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
     /* border: 2px solid red;  */
    /* margin-top: 20px; */
   }
   .note-tex h2{
    width: 1360px;
    /* height: 120px; */
    font-size: 48px;
    text-align: center;
    margin-bottom: 16px;
   margin-top: 20px;
   }
   .text-p{
  color:#627382 ;
    font-size: 21px;
    text-align: center;
    margin-bottom: 44px;
   }

    /* Notes Section End here */
   /* card section start here   */

   .card-container{
    /* background-color: #627382;*/
    /* border: 2px solid red;  */
    width: 1360px;
    height: 300px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
   }
   .four{
    width: 322px;
    height: 300px;
    /* border: 2px solid blue; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    padding: 90px 10px 10px 10px ;
    display: flex;
   }
   .vec{
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50px;
   
   }
    .four h3{
     font-size: 24px;
     font-weight: 600;
     color: #001931;
    }
    .four p{
     font-size: 16px;
     color: #627382;
     line-height: 24px;
    }

    /* card section end here  00000000000000000000000000000000000000000 */
    /* Second Brain Section Here */
    .second-brain{
         width: 1360px;
        height: 600px;  
        /* border: 2px solid red;  */
        /* margin-top: 120px; */
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 120px;
        gap: 60px;
         margin: 0 auto; 
         margin-top: 120px;
         /* background-color: #627382; */
         justify-content: space-between;
         margin-bottom: 120px;
       
    }
    .brain-img{
        
        /* border: 2px solid blue;  */
    }
    .second-text{
     
        /* border: 2px solid green;  */
        /* display: flex; */
        flex-direction: column;
         justify-content:flex-start; 
        align-items: flex-start;
        gap: 16px; 
        /* margin-top: 120px;} */}
        .para-head{
            font-size: 16px;
            color:#30B868 ;
            margin-bottom: 16px;
        }
        .second-text h2{
            width: 500px;
            font-size: 48px;
            font-weight: 700;
            color: #001931;
            margin-bottom: 16px; 

        }
        .para-inon{
            color: #001931;
            margin-bottom: 40px;
            font-size: 16px;
           font-style: regular;
           font-size: 16px;
           font-weight: 400;
           line-height: 20px;
            /* background-color: #F95555; */
        }
        .list-f li{
            font-size: 20px;
            color: #001931;
            /* margin-bottom: 16px; */
            /* list-style: none; */
            font-style: medium;
            font-weight: 500;
            line-height: 20px;
            /* gap: 20px; */
            
        }
         /* Second Brain Section Ends Here 00000000000000000000000000000000 */
        /* Footer Section Start Here  11111111111111111111111111111111111111*/
      .fooder-head{
      /* width: 1900px; */
      width: auto;
      height: 350px;
      background-color: #001931;
      padding: 120px 120px 30px 120px;
      }
      .link-container{
        width: 1360px;
        height: 70px;
        /* border: 2px solid red   ; */
        display: flex;
        margin:  0 auto;
        /* margin-bottom: 120px; */
        justify-content: space-between;
        align-items: center;
        margin-bottom: 80px;
      }
      .social-links h4{
        color: white;
        /* padding: 2px 2px; */
        margin-bottom: 6px;
      }
      .img-three a{
        background-color: white;
        border-radius: 5px;
         width: 50px;
        height: 50px; 
        gap: 5px;
      }
      .img-three a:hover{
        background-color: #900ba1;
      }
      .line{
        
        width: 1360px;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
      
      }
      .fooder-end p{
        padding: 30px;
        font-size: 16px;
        color: white;
        /* background-color: #FFFFFF; */
        text-align: center;
        width: 1360px;
        justify-content: center;
        margin: 0 auto;
      }
      /* Footer Section Start Here 000000000000000000000000000000000000*/
      /* Early Access Section start 1111111111111111111111111111111111 */
      .access-container{
        /* border: 2px solid red; */
        text-align: center;
        justify-content: center;
        margin: 0 auto;
      }
      .access-container h1{
        margin: 80px 20px 40px 20px ;

      }
      .access-container p{
        /* background-color: #e0acc6; */
        font-size: 20px;
        color:#627382 ;
        padding: 40px;


      }
      .access-container .nine{
        background-color: #30B868;
        width: 300px;
        height: 50px;
        font-size: 20px;
        display: flex;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
        border-radius: 10px;
      }
     
     